<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>#}
        {% block stylesheets %}
            <link href="{{ asset('bundles/coffeeapi/css/main.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/coffeeapi/bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts '@jquery' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
